<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MCTFunctionalSuite">
    <test thread-count="1" name="C:/Users/Welcome/OneDrive/automation/MCTFunctionalAutomation">
        <parameter name="browserName" value="chrome"/>
        <classes>
                <class name="TestRunner.TestRunnerClass"/>
        </classes>
    </test>
</suite>